#Django
SECRET_KEY=thisissecret
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

#Mysql
MYSQL_DATABASE=mog_demo
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306

GEMIN_API_KEY=AIzaSyDjMyUWiN6mRt-_Bp31JRlJIJ_B1DnHpHI