django==5.2.13
dj_rest_auth
djangorestframework
django-cors-headers
python-dotenv
django-allauth
mysqlclient
djangorestframework-simplejwt
bcrypt
requests
gunicorn
django-cleanup
pymupdf
google-genai
langchain
langchain-core
langchain-community
langchain-google-genai
langchain-text-splitters
chromadb
pypdf
python-docx
protobuf==4.25.3
mysql-connector-python
django-extensions
Werkzeug
pyOpenSSL
